@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

header {
    background: linear-gradient(rgb(24, 24, 24), rgb(24, 24, 24));
}

a {
    font-weight: 500;
    color: rgb(104, 104, 104);
}

.logo-svg {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.logo {
    fill: white;
}

.pesquisa {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pesquisa input {
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    font-size: 20px;
    width: 650px;
    height: 30px;
}

.pesquisa input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.carrinho-svg {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.carrinho {
    fill: white;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 200px;
    border: none;
}
.filtro {
    padding: 15px;
    gap: 5px;
    display: flex;
}

.filtro input {
    border: none;
    background-color: rgb(255, 136, 0);
}

.item {
    cursor: pointer;
    width: 200px;
    height: 250px;
    background-color: rgba(51, 51, 51, 0);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.575);
}

.pratileira1{
    gap: 15px;
    justify-content: center;
    display: flex;
}

.pratileira1 img {
    width: 180px; 
    padding: 10px;
}

.pratileira1 p{
    text-align: center;
    color: rgb(0, 0, 0);
}

.conteudoPai {
    display: flex;
}

.barraLateral {
    padding: 10px;
    font-weight: 900;
    margin-right: 20px;
    width: 200px;
}

.barraLateral ol{
    list-style: inside;
    list-style: square;
}

.linha-vertical {
    margin-right: 100px;
    display: inline-block;
    width: 1px;
    height: 100vh;
    background-color: #31313141; 
}
