@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: linear-gradient(rgb(24, 24, 24), rgb(24, 24, 24));
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.397);
}

.logo-svg {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.logo {
    fill: white;
}

.pesquisa {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px
}

.pesquisa input {
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    font-size: 20px;
    width: 650px;
    height: 30px;
}

.pesquisa input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.carrinho-svg {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.carrinho {
    fill: white;
}

.filtro {
    gap: 5px;
    display: flex;
}

.filtro input {
    border: none;
    background-color: rgba(65, 0, 119, 0.534);
}

.item {
    width: 200px;
    height: 200px;
    background-color: black;
}

.pratileira1{
    gap: 5px;
    justify-content: end;
    display: flex;
}

